<h1>Ask </h1>
<form action="answer" method="get">
  <input type="text" 
         name="question" 
         <%# question="Ask-me (question)?"  %>
         placeholder="Ask me anything? (placeholder)">
  <input type="submit" value="Ask! (value)">
</form>
